@import url("https://fonts.googleapis.com/css?family=Ubuntu");
.sexy li.editable, .fancybox-inner {
        font-family: 'Ubuntu';
        font-size: 103%;
        line-height: 186%;
    }

.sexy#sexy_604 {
    background-image: url(../../../image/1000/1000/uploads/images/jmh_20130914144644.jpg);
    color: #333333;
}

    .sexy#sexy_604 .glasses {
        background-color: rgba(221, 217, 195, 0.12);
    }

        html.ie6 .sexy#sexy_604 .glasses,
        html.ie7 .sexy#sexy_604 .glasses,
        html.ie8 .sexy#sexy_604 .glasses {
            background-color: #ddd9c3;
        }

    .sexy#sexy_604 .row.inner {
        background-color: #ffffff;
    }


.sexy#sexy_608 {
    background-image: url(../../../image/1000/1000/uploads/images/jmh_20130914133401.jpg);
    color: #333333;
}

    .sexy#sexy_608 .glasses {
        background-color: rgba(196, 189, 151, 0.87);
    }

        html.ie6 .sexy#sexy_608 .glasses,
        html.ie7 .sexy#sexy_608 .glasses,
        html.ie8 .sexy#sexy_608 .glasses {
            background-color: #c4bd97;
        }

    .sexy#sexy_608 .row.inner {
        background-color: #ffffff;
    }


.sexy#sexy_610 {
    background-image: url(../../../image/1000/1000/uploads/images/jmh_20130914152044.jpg);
    color: #333333;
}

    .sexy#sexy_610 .glasses {
        background-color: rgba(215, 227, 188, 0.61);
    }

        html.ie6 .sexy#sexy_610 .glasses,
        html.ie7 .sexy#sexy_610 .glasses,
        html.ie8 .sexy#sexy_610 .glasses {
            background-color: #d7e3bc;
        }

    .sexy#sexy_610 .row.inner {
        background-color: #ffffff;
    }


.sexy#sexy_605 {
    background-image: url(../../../image/1000/1000/uploads/images/jmh_20130909134929.jpg);
    color: #333333;
}

    .sexy#sexy_605 .glasses {
        background-color: rgba(215, 227, 188, 0.51);
    }

        html.ie6 .sexy#sexy_605 .glasses,
        html.ie7 .sexy#sexy_605 .glasses,
        html.ie8 .sexy#sexy_605 .glasses {
            background-color: #d7e3bc;
        }

    .sexy#sexy_605 .row.inner {
        background-color: #ffffff;
    }


.sexy#sexy_607 {
    background-image: url(../../../image/1000/1000/uploads/images/jmh_20130914150551.jpg);
    color: #333333;
}

    .sexy#sexy_607 .glasses {
        background-color: rgba(221, 217, 195, 0.66);
    }

        html.ie6 .sexy#sexy_607 .glasses,
        html.ie7 .sexy#sexy_607 .glasses,
        html.ie8 .sexy#sexy_607 .glasses {
            background-color: #ddd9c3;
        }

    .sexy#sexy_607 .row.inner {
        background-color: #ffffff;
    }


.sexy#sexy_609 {
    background-image: url(../../../image/1000/1000/uploads/images/jmh_20130914151303.jpg);
    color: #333333;
}

    .sexy#sexy_609 .glasses {
        background-color: rgba(221, 217, 195, 0.67);
    }

        html.ie6 .sexy#sexy_609 .glasses,
        html.ie7 .sexy#sexy_609 .glasses,
        html.ie8 .sexy#sexy_609 .glasses {
            background-color: #ddd9c3;
        }

    .sexy#sexy_609 .row.inner {
        background-color: #ffffff;
    }


.sexy#sexy_606 {
    background-image: url(../../../image/1000/1000/uploads/images/jmh_20130902180208.jpg);
    color: #333333;
}

    .sexy#sexy_606 .glasses {
        background-color: rgba(242, 242, 242, 0.71);
    }

        html.ie6 .sexy#sexy_606 .glasses,
        html.ie7 .sexy#sexy_606 .glasses,
        html.ie8 .sexy#sexy_606 .glasses {
            background-color: #f2f2f2;
        }

    .sexy#sexy_606 .row.inner {
        background-color: #ffffff;
    }